/* tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit (Chrome, Safari) */
}

.hide-scroll {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
